@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

 li, ul, p, button, a {
  font-family: "Rubik", sans-serif;
}

h1,h2,h3,h4{
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url(/bg-dots.png);
  background-position: center;
}

.button-bg {
  background-image: url(/button-bg.png);
  background-position: center;
}

.ellipse-top {
  background-position: center;
  width: 90vh;
  height: 71px;
  border-radius: 1231px;
  opacity: 0.49;
  background: linear-gradient(180deg, #fff 0%, #00d770 100%);
  mix-blend-mode: lighten;
  filter: blur(105px);
  position: relative;
  bottom: 30px;
}

.bg-timer{
position: relative;
}

.bg-timer::before{
  /* background-image: url(/timer-bg.png);
  background-position: center;
  background-repeat: no-repeat; */
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
}

.press-start-font{
  font-family: 'Press Start 2P', cursive;
}

.header-bg{
  background-image: url(/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
